* {
    font-family: "Garamond", "Arial", serif;
}

.main, h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

h1, h5 {
    color: green;
}

a {
    color: blue;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 1em;
    margin-bottom: 0px;
}

.caption {
    font-size: 12px;
    text-align: center;
}

ul, ol {
    color: black;
}

.recipe_name {
    display: inline-block;
    text-align: center;
}

p {
    text-align: center;
    margin: 0px;
}